<div class="barra">
  <span title="Clientes" 
        routerLink="/listado-clientes">
      <i class="fas fa-box"></i>
  </span>
  <span title="Presupuestos"
        routerLink="/listado-presupuestos">
      <i class="fas fa-dollar-sign"></i>
  </span>
  <span title="Articulos"
    routerLink="/listado-articulos">
    <i class="fas fa-clipboard-list"></i>
  </span>
</div>
<div class="col-md-12 barra-breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Inicio</a>
      </li>
      <li class="breadcrumb-item">
          <a routerLink="/ventas">Ventas</a>
      </li>
      <li class="breadcrumb-item active" 
          aria-current="page">
        Clientes
      </li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Clientes</span>
  <button class="btn btn-primary"
          routerLink="/crear-cliente">
    <i class="fas fa-plus-circle"></i>
  </button>
</div>
<div class="col-md-12">
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" 
           name="customRadioInline1" class="custom-control-input"
           (click)="mostrarBuscadorNombre()" checked>
    <label class="custom-control-label" for="customRadioInline1">Buscar por nombre</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" 
           name="customRadioInline1" class="custom-control-input"
           (click)="mostrarBuscadorLocalidad()">
    <label class="custom-control-label" for="customRadioInline2">Buscar por localidad</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline3" 
           name="customRadioInline1" class="custom-control-input"
           (click)="mostrarBuscadorNombreLocalidad()">
    <label class="custom-control-label" for="customRadioInline3">Buscar por nombre y localidad</label>
  </div>
  <hr>
</div>
<div class="col-md-12" *ngIf="verBuscadorNombre">
  <input type="search" class="form-control"
         placeholder="Teclee el nombre"
         [formControl]="buscador">
</div>
<div class="col-md-12" *ngIf="verBuscadorLocalidad">
  <input type="search" class="form-control"
         placeholder="Teclee la localidad"
         [formControl]="buscadorLocalidad">
</div>
<div class="col-md-12" *ngIf="verBuscadorNombreLocalidad">
  <form [formGroup]="buscNombreLocalidad"
        (ngSubmit)="crearConsulta()">
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control"
               placeholder="Nombre"
               formControlName="nombre">
      </div>
      <div class="col">
        <input type="text" class="form-control"
               placeholder="Localidad"
               formControlName="localidad">
      </div>
      <div class="col">
        <button class="btn btn-primary"
                type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="col-md-12 resultados">
  <div class="spinner" *ngIf="buscando"></div>
  <p *ngFor="let cliente of clientes"
     routerLink="/editar-cliente/{{cliente._id}}">
    {{cliente.nombre}} | {{cliente.localidad}}
  </p>
  <span *ngIf="mensaje">No se encontraron coincidencias.</span>
</div>

