<div class="barra">
  <span title="Clientes" 
        routerLink="/listado-clientes">
      <i class="fas fa-box"></i>
  </span>
  <span title="Presupuestos">
      <i class="fas fa-dollar-sign"></i>
  </span>
</div>
<div class="col-md-12 barra-breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Inicio</a>
      </li>
      <li class="breadcrumb-item">
          <a routerLink="/ventas">Ventas</a>
      </li>
      <li class="breadcrumb-item active" 
          aria-current="page">
        Clientes
      </li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Clientes</span>
  <button class="btn btn-primary"
          routerLink="/crear-cliente">
    <i class="fas fa-plus-circle"></i>
  </button>
</div>
<div class="col-md-12">
  <input type="search" class="form-control"
         placeholder="Teclee el nombre"
         [formControl]="buscador">
  <h2 *ngFor="let cliente of clientes">
    {{cliente.nombre}}
  </h2>
</div>

