<div class="barra">
  <span title="Clientes" 
        routerLink="/listado-clientes">
      <i class="fas fa-box"></i>
  </span>
  <span title="Presupuestos"
        routerLink="/listado-presupuestos">
      <i class="fas fa-dollar-sign"></i>
  </span>
</div>
<div class="col-md-12 barra-breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Inicio</a>
      </li>
      <li class="breadcrumb-item">
          <a routerLink="/ventas">Ventas</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/listado-presupuestos">Presupuestos</a>
      </li>
      <li class="breadcrumb-item active" 
          aria-current="page">
        Crear presupuesto
      </li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span>Crear Presupuesto</span>
  <button class="btn btn-primary"
          routerLink="/listado-presupuestos">
    Volver al listado
  </button>
</div>
<div class="col-md-8 offset-md-2 col-12">
  <div class="formulario">
    <form [formGroup]="formPre" (ngSubmit)="registrarPre()">
      <div class="form-group">
        <label for="cliente">Cliente</label>
        <input type="text" class="form-control" autofocus
               formControlName="cliente" list="clientes">
        <datalist id="clientes">
          <option *ngFor="let cliente of clientes"
                   [value]="cliente.nombre">
            {{cliente.nombre}}
          </option>
        </datalist>
      </div>
    </form>
  </div>
</div>
  
  
  
