<div class="barra">
  <span title="Proveedores" 
        routerLink="/listado-proveedores">
      <i class="fas fa-box"></i>
  </span>
  <span title="Presupuestos">
      <i class="fas fa-dollar-sign"></i>
  </span>
</div>
<div class="col-md-12 barra-breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Inicio</a>
      </li>
      <li class="breadcrumb-item">
          <a routerLink="/compras">Compras</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/listado-proveedores">Proveedores</a>
      </li>
      <li class="breadcrumb-item active" 
          aria-current="page"
          *ngIf="usuariosService.getPerProveedores()">
        Editar proveedor
      </li>
      <li class="breadcrumb-item active" 
          aria-current="page"
          *ngIf="!usuariosService.getPerProveedores()">
        Visualizar proveedor
      </li>
    </ol>
  </nav>
</div>
<div class="col-md-12 titulo">
  <span *ngIf="usuariosService.getPerProveedores()">
    Editar Proveedor
  </span>
  <span *ngIf="!usuariosService.getPerProveedores()">
    Visualizar Proveedor
  </span>
  <button class="btn btn-primary"
          routerLink="/listado-proveedores">
    Volver al listado
  </button>
</div>
<div class="col-md-8 offset-2">
  <form [formGroup]="formProveedor" 
        (ngSubmit)="editarProveedor()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control"
             formControlName="nombre"
             [(ngModel)]="proveedor.nombre"
             [readonly]="!usuariosService.getPerProveedores()">
    </div>
    <div class="form-group">
      <label for="cif">CIF</label>
      <input type="text" class="form-control"
             formControlName="cif" #cif
             [(ngModel)]="proveedor.cif"
             [readonly]="!usuariosService.getPerProveedores()">
    </div>
    <div class="form-group">
      <label for="domicilio">Domicilio</label>
      <input type="text" class="form-control"
             formControlName="domicilio"
             [(ngModel)]="proveedor.domicilio"
             [readonly]="!usuariosService.getPerProveedores()">
    </div>
    <div class="form-group">
      <label for="cp">Código Postal</label>
      <input type="number" class="form-control"
             formControlName="cp"
             [(ngModel)]="proveedor.cp"
             [readonly]="!usuariosService.getPerProveedores()">
    </div>
    <div class="form-group">
      <label for="localidad">Localidad</label>
      <input type="text" class="form-control"
             formControlName="localidad"
             [(ngModel)]="proveedor.localidad"
             [readonly]="!usuariosService.getPerProveedores()">
    </div>
    <div class="form-group"
         *ngIf="usuariosService.getPerProveedores()">
      <label for="provincia">Provincia</label>
      <select class="form-control"
              formControlName="provincia"
              [(ngModel)]="proveedor.provincia">
        <option *ngFor="let provincia of provincias"
                [ngValue]="provincia">
                {{provincia}}
        </option>
      </select>
    </div>
    <div class="form-group"
         *ngIf="!usuariosService.getPerProveedores()">
      <label for="provincia">Provincia</label>
      <input type="text" class="form-control"
              formControlName="provincia"
              [(ngModel)]="proveedor.provincia"
              [readonly]="!usuariosService.getPerProveedores()">
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="text" class="form-control"
             formControlName="telefono"
             [(ngModel)]="proveedor.telefono"
             [readonly]="!usuariosService.getPerProveedores()">
    </div>
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input type="email" class="form-control"
             formControlName="email"
             [(ngModel)]="proveedor.email"
             [readonly]="!usuariosService.getPerProveedores()">
    </div>
    <div class="form-group">
      <label for="contacto">Persona de Contacto</label>
      <input type="text" class="form-control"
             formControlName="contacto"
             [(ngModel)]="proveedor.contacto"
             [readonly]="!usuariosService.getPerProveedores()">
    </div>
    <div *ngIf="usuariosService.getPerProveedores()">
      <button type="submit" class="btn btn-primary">
        <span>Guardar cambios</span>
        <!-- <span *ngIf="enviando">
          <i class="fas fa-spinner fa-pulse"></i>
        </span> -->
      </button>
      <button class="btn btn-danger" 
              routerLink="/listado-proveedores">
        Cancelar
      </button>
    </div>
  </form>
</div>
