.barra {
    background-color: rgb(48, 48, 48);
    width: 80px;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra span {
    color: grey;
    font-size: 40px;
    margin-bottom: 20px;
}

.barra span:hover {
    color: white;
    cursor: pointer;
}

.barra span:first-child {
    margin-top: 80px;
}

.col-md-12 {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.menu-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.box {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px;
}

.box span { font-size: 80px;}

.box p {
    font-size: 26px;
    color: white;
}

.rojo { background-color: #d9534f;}
.rojo:hover { background-color: #f35a55;}
.rojo span { color: #c44a46; }

.azul { background-color: #428bca;}
.azul:hover { background-color: #4fa6f1;}
.azul span { color: #3979b1; }

.verde { background-color: #5cb85c;}
.verde:hover { background-color: #71e071;}
.verde span { color: #4b994b; }

.amarillo { background-color: #f0cf16;}
.amarillo:hover { background-color: #eed12d;}
.amarillo span { color: #d8bb14; }

.marron { background-color: #f07f16;}
.marron:hover { background-color: #fd8718;}
.marron span { color: #e27815; }

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo span:first-child {
    font-size: 22px;
    font-weight: bold;
}

.formulario {
    padding: 20px 20px 40px;
}

.formulario .row {
    padding: 10px 0;
}

.radiobotones {
    padding-top: 26px;
}

.valido {
    color: green;
}

.novalido {
    color: crimson;
}

.barra-breadcrumb, .autenticacion {
    margin-top: 80px;
}

.autenticacion h1 {
    font-size: 22px;
    text-align: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav span {
    font-size: 20px;
    color: #696969;
    margin-right: 7px; 
}

.cabecera {
    width: 100%;
    display: flex;
}

.cabecera .campo {
    margin: 5px;
    height: 40px;
}

.cabecera .campo:nth-child(1) {
    width: 5%;
    border: none;
}
.cabecera .campo:nth-child(2) {width: 25%;}
.cabecera .campo:nth-child(3) {width: 30%;}
.cabecera .campo:nth-child(4) {width: 30%;}
.cabecera .campo:nth-child(5) {
    width: 10%;
    border: none;
}

.cabecera .campo p {
    font-weight: bold;
}

.fila {
    width: 100%;
    display: flex;
}

.fila .campo {
    margin: 5px;
    height: 40px;
    border-bottom: 1px solid lightgrey;
}

.fila .campo p {
    padding-top: 8px;
}

.fila .campo:nth-child(1) {
    width: 5%;
    border: none;
}
.fila .campo:nth-child(2) {width: 15%;}
.fila .campo:nth-child(3) {width: 30%;}
.fila .campo:nth-child(4) {width: 30%;}
.fila .campo:nth-child(5) {
    width: 20%;
    border: none;
}

.fila .nuevo {
    margin: 5px;
    height: 40px;
    border-bottom: 1px solid lightgrey;
}

.fila .nuevo:nth-child(1) {width: 25%;}
.fila .nuevo:nth-child(2) {width: 25%;}
.fila .nuevo:nth-child(3) {width: 20%;}
.fila .nuevo:nth-child(4) {width: 20%;}
.fila .nuevo:nth-child(5) {
    width: 10%;
    border:none;
}

.fila input {
    width: 100%;
    margin: 0;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgrey;
    color: #2b5c86;
}

.fila input::-webkit-input-placeholder {
    color: #2b5c86;
}

.fila input:focus {
    outline: none;
    border-bottom: 2px solid #3979b1;
}

form.fila {
    margin-bottom: 40px;
}

.fila select {
    height: 40px;
    width: 100%;
    color: #2b5c86;
}

.fila select:focus {
    outline: none;
}

.fila.editable {
    margin-bottom: 0;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.paginacion button {
    margin: 5px;
}

/* All credits to Jorge */

button {
    box-shadow: 0 0 0 white !important;
}

.boto {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.activo {
    background-color: white; 
    color: #007bff;
    border: solid 2px #007bff;
    border-radius: 5px;
    padding: 10px 15px; 
}

.resultados {
    margin-top: 20px;
}

.resultados p:hover {
    color: crimson;
    cursor: pointer;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 40px auto;
    background-color: crimson;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }

